html {
  box-sizing: border-box;
  font: normal 100%/1.5 Nunito,sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  padding-bottom: 44px;
  font-family:"Nunito";
}

.freshness{
  text-align: center;
  font-size: 2rem;
  color:#fff;
  padding:0;
  margin:0;
  bottom:95px;
  position:relative;
}

.family-business{
  text-align: center;
  font-size: 2rem;
  color:#fff;
  padding:0;
  margin:0;
  bottom:60px;
  position:relative;
}

.images{
  padding:0;
  margin:0;
  width:100%;
  padding:0;
  margin:0;
}

img {
  display: block;
  width: 100%;
}

.headings{
  background-color:#cf262b;
  text-align: center;
  font-size: 2rem;
  color:#fff;
  padding:0;
  margin:0;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));
}

.trophy-right{
  width:45%;
  float:right;
  position:relative;
  display:block;
  margin:0;
}

.trophy-left{
  width:45%;
  float:left;
  position:relative;
  display:block;
  margin:0;
}

.subheading{
  text-align: center;
  font-size: 1.5rem;
  color:black;
  padding:0;
  margin:0;
}

.footer-heading{
  text-align: center;
  font-size: 1rem;
  color:black;
  padding:0;
  margin:0;
}

.figure{
  width:100%;
  margin:0;
  padding:0
}

figcaption{
  text-align: center;
  font-size: 1rem;
  color:black;
  padding:0;
  margin:0;
}

.review{
  text-align: center;
  font-size: 1rem;
  color:black;
  padding:0;
  margin:0;
}

.logo {
  margin: 0;
  padding: 0.2em 0 0.3em;
  background-repeat: no-repeat;
  background-size: 32px auto;
  background-position: 15px center, calc(100% - 15px) center;
}

.nav {
  margin: 0;
  overflow: hidden;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  float: left;
  width: 25%;
}

.nav a {
  display: block;
  padding: 0.4em 0 0.5em;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  background-color:#cf262b;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));
}

.nav a:hover {
  background-color: rgba(81,34,0,0.5);
}

.footer{
  width:100%;
}

p{
  color:#cf262b;
  text-align: center;
  font-size: 1.2rem;
}
