html {
  box-sizing: border-box;
  font: normal 100%/1.5 Dosis,sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  padding-bottom: 44px;

}

img {
  display: block;
  width: 100%;
}

.masthead {
  background: url("../images/header-bg.png") left top repeat;

  color: #512200;
  text-align: center;
}

.logo {
  margin: 0;
  padding: 0.2em 0 0.3em;

  background-image: url("../images/icon.svg"), url("../images/icon.svg");
  background-repeat: no-repeat;
  background-size: 32px auto;
  background-position: 15px center, calc(100% - 15px) center;
}

.nav {
  margin: 0;
  overflow: hidden;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  float: left;
  width: 25%;
}

.nav a {
  display: block;
  padding: 0.4em 0 0.5em;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  background-color:red;
}

.nav a:hover {
  background-color: rgba(81,34,0,0.5);
}

.banner {
  padding: calc(2em + 20vw) 0 0;

  background: url("../images/dirt.jpg") center center / cover no-repeat;
}

.intro {
  margin: 0;
  padding: 3em 15px 1em;

  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));

  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.beetles {
  overflow: hidden;
}

.beetle {
  float: left;
  position: relative;
  width: 50%;
}

.btn {
  padding: 0.4em 1em 0.5em;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  background-image: linear-gradient(to bottom, #6fc000, #388200);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.75);

  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #388200, #214d00);
}
